

.header-section-main-container{
    display:flex;
    justify-content: space-between;
    align-items:space-between;
    height: calc(100vh - 64px);
    background-color:#331c52;
    position: relative;
    padding:0 200px;
    
    

    

   


   
}

.design-element{
    position:absolute;
    top:100px;
    right:200px;
    width:600px;
    height:600px;
    background-color:rgba(0,0,0,0.3);
    transform:rotate(15deg);
    border-radius:50%;
}