

.header-section-main-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    min-height:calc(100vh - 64px);
    background-color: #331c52;
    padding: 0 200px;


    @media screen and (max-width:880px){
        background-position-x: -200px;
    }
    

    &__overlay{
        width:100vw;
        height:100vh;
        background-color:#331c52;
        background-color:rgba(#331c52, 0.7);
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        mix-blend-mode: multiply;
    }

    &__content-container{
        display:flex;
        justify-content: space-between;
        align-items:flex-start;
        width:100%;
        height:100%;
        padding:100px 0;
        z-index:10;

        @media screen and (max-width:900px){
            justify-content: flex-start;
            padding-top:50px;
        }
    }


    @media screen and (max-width:1500px){
        padding:0 120px;
    }

    @media screen and (max-width:1200px){
        justify-content: flex-start;
        align-items:center;
        padding:0 80px;
    }

    @media screen and (max-width:550px){
        padding:0 15px;
    }

    

   
}
