<div class="bottom-technology-container">
    <div class="bottom-technology-container__inner">
        <div class="bottom-technology-container__inner__icon-container">
            <img src="../../assets/img/technologies/html.webp" alt="HTML5">
        </div>

        <div class="bottom-technology-container__inner__icon-container">
            <img src="../../../assets/img/technologies/css.webp" alt="Sass">
        </div>

        <div class="bottom-technology-container__inner__icon-container">
            <img src="../../assets/img/technologies/javaScript.webp" alt="JavaScript">
        </div>
    </div>
    <div class="bottom-technology-container__inner">
        <div class="bottom-technology-container__inner__icon-container">
            <img src="../../assets/img/technologies/typeScript.webp" alt="typeScript">
        </div>

        <div class="bottom-technology-container__inner__icon-container">
            <img src="../../assets/img/technologies/angular.webp" alt="Angular Framework">
        </div>

        <div class="bottom-technology-container__inner__icon-container">
            <img src="../../assets/img/technologies/react.webp" alt="React Framework">
        </div>

    </div>
</div>