<div class="bottom-technolgy-container">
    <div class="bottom-technolgy-container__icon-container">
        <img src="../../assets/img/technologies/html.webp" alt="HTML5">
    </div>

    <div class="bottom-technolgy-container__icon-container">
        <img src="../../../assets/img/technologies/css.webp" alt="Sass">
    </div>

    <div class="bottom-technolgy-container__icon-container">
        <img src="../../assets/img/technologies/javaScript.webp" alt="JavaScript">
    </div>

    <div class="bottom-technolgy-container__icon-container">
        <img src="../../assets/img/technologies/typeScript.webp" alt="typeScript">
    </div>

    <div class="bottom-technolgy-container__icon-container">
        <img src="../../assets/img/technologies/angular.webp" alt="Angular Framework">
    </div>

    <div class="bottom-technolgy-container__icon-container">
        <img src="../../assets/img/technologies/react.webp" alt="React Framework">
    </div>

</div>

<!--Html Bild von <a href="https://pixabay.com/de/users/raphaelsilva-4702998/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3384014">Raphael Silva</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3384014">Pixabay</a> -->