
.bottom-technology-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:24px 200px;
    background-color:#291c3a;
    z-index:10;


    @media screen and (max-width:1500px){
        padding:24px 120px;
    }

    @media screen and (max-width:900px){
        flex-wrap:wrap;
        padding:16px 80px;
    }

    @media screen and (max-width:600px){
        padding:0 15px;
    }

    @media screen and (max-width:500px){
        flex-direction:column;
    }

    &__inner{
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:40%;

        @media screen and (max-width:900px){
            margin: 8px 0;
        }

        @media screen and (max-width:500px){
            width:100%;
        }
        
        &__icon-container{
            display:flex;
            justify-content: center;
            align-items:center;
            width:40px;
            height:40px;
    
            @media screen and (max-width:900px){
                margin:8px;
                width:50px;
            }
    
            @media screen and (max-width:500px){
                
            }
    
            img{
                object-fit:cover;
                width:100%; 
            }
        }
    }
    

    
}