<div id="about-section" class="section-container">
    <h2 class="section-teaser">Über mich</h2>

    <div class="content-container">
        <div class="text-container">
            <p>
                Als Fullstack Webdeveloper verbinde ich moderne Frontendtechnologien mit Backendtechnologien jeglicher Art.
                Durch mein starkes Interesse in er 3D Entwicklung mit JavaScript entstehen oftmals außergewöhnliche Designs mit maximalem Spaß für den Benutzer der Software
            </p>
        </div>
        <div id="skills" class="text-container text-container--left">
            <p>Mit diesen Technologien arbeite ich:</p>
            <div class="technology-work-container">
                <div class="technology-work-container__image-container">
                    <img class="technology-work-container__image-container__image" src="../../assets/img/html.png" alt="">
                </div>
                <div class="technology-work-container__image-container">
                    <img class="technology-work-container__image-container__image" src="../../assets/img/css.png" alt="">
                </div>
                <div class="technology-work-container__image-container">
                    <img class="technology-work-container__image-container__image" src="../../assets/img/JavaScript.png" alt="">
                </div>
                <div class="technology-work-container__image-container">
                    <img class="technology-work-container__image-container__image" src="../../assets/img/typescript-def-64.png" alt="">
                </div>
                <div class="technology-work-container__image-container">
                    <img class="technology-work-container__image-container__image" src="../../assets/img/Angular-logo.png" alt="">
                </div>
                <div class="technology-work-container__image-container">
                    <img class="technology-work-container__image-container__image" src="../../assets/img/php.png" alt="">
                </div>
                <div class="technology-work-container__image-container">
                    <img class="technology-work-container__image-container__image" src="../../assets/img/python_logo.svg" alt="">
                </div>
                <div class="technology-work-container__image-container">
                    <img class="technology-work-container__image-container__image" src="../../assets/img/mysql-official.svg" alt="">
                </div>
            </div>
        </div>
    </div>

</div>