

.content-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
}

.project-container{
    display:flex;
    justify-content: center;
    align-items:center;
    width:800px;
    overflow:hidden;


.chevron-container{
    cursor:pointer;
}

}