<div class="section-container section-container--contact">
    <h1 class="section-teaser dark-teaser">Kontakt</h1>
    <div class="content-container">
        <form>
            <h3 class="dark-teaser">Mail an mich schreiben und eine schnelle Antwort erhalten. So einfach ist das</h3>
            <div class="input-container">
                <input placeholder="Dein Name" name="name" type="text">
                <input placeholder="Telefon" name="phone" type="text">
            </div>

            <div class="input-container">
                <input placeholder="Email" name="email" type="text">
                <input placeholder="Betreff" name="subject" type="text">
            </div>
            <div class="input-container">
                <textarea placeholder="Deine Nachricht" name="message"></textarea>
            </div>
            <button class="btn" type="submit">Absenden</button>
        </form>
    </div>
</div>