.section-container--contact{
    background-image: linear-gradient(110deg, #331c52, #291c3a);
}

.content-container{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    width:100%;
    height:100%;
    padding:100px 0 100px 0;
}

.warn-text{
    color:#bf4a4a;
}