.profile-container{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    position:absolute;
    top:-30px;
    right:200px;
    bottom:0;

    @media screen and (max-width:1500px){
        right:80px;
    }

    @media screen and (max-width:1200px){
        right:80px;
    }

    @media screen and (max-width:1050px){
        position:unset;
     }

     

    &__profile{
        display:flex;
        justify-content: center;
        align-items:center;
        height:calc(100vh - 64px);
        width:600px;
        background-image:url('../../../assets/img/JacquesLöhr.png');
        background-size: contain;
        background-position-x:center;
        background-repeat: no-repeat;
       

        @media screen and (max-width:1050px){
           width:500px;
           height:500px;
        }

        @media screen and (max-width:600px){
            width:330px;
            height:330px;
         }

    }
}