
.profile-container{
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url('../../../assets/img/JacquesLöhr.webp');
    background-size:cover;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    width:500px;
    height:500px;
    border-radius: 50%;
    overflow:hidden;
    box-shadow:inset 10px 10px 30px lightgrey;
    animation-name:hover;
    animation-iteration-count: infinite;
    animation-duration:30s;
    transition:all 5s linear;

    @media screen and (max-width:1600px){
        width:350px;
        height:350px;
    }

    @media screen and (max-width:700px){
        width:300px;
        height:300px;
    }
}

@keyframes hover {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(10px, 15px);
    }
    20% {
        transform: translate(20px, 30px);
    }
    40% {
        transform: translate(30px, 30px);
    }
    60% {
        transform: translate(20px, 30px);
    }
    80% {
        transform: translate(10px, 15px);
    }
    100%{
        transform:translate(0px, 0px);
    }
}