<mat-toolbar>
    <div class="logo-container">
        <a href="#">
            <span style="font-size:24px; font-weight:bold;" class="section-teaser dark-teaser">Jacques</span>
        </a>

    </div>
    <ul class="site-navigation-container">
        <li class="site-navigation-container__list-element">
            <a class="site-navigation-container__list-element__link" routerLink="">Home</a>
        </li>
        <li class="site-navigation-container__list-element">
            <a class="site-navigation-container__list-element__link" routerLink="">Über mich</a>
        </li>
        <li class="site-navigation-container__list-element">
            <a class="site-navigation-container__list-element__link" routerLink="">Fähigkeiten</a>
        </li>
        <li class="site-navigation-container__list-element">
            <a class="site-navigation-container__list-element__link" routerLink="">Projekte</a>
        </li>

    </ul>

    <div (click)="openResponsiveMenu()" class="menu-btn">
        <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
    </div>

    <a class="btn nav-btn" href="#">
        <div class="nav-btn__icon-container">
            <svg fill="#8121d0" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M480-440 160-640v400h360v80H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v280h-80v-200L480-440Zm0-80 320-200H160l320 200ZM760-40l-56-56 63-64H600v-80h167l-64-64 57-56 160 160L760-40ZM160-640v440-240 3-283 80Z" />
            </svg>
        </div>
        Kontakt
    </a>
</mat-toolbar>


<div id="responsive-menu" class="responsive-navigation">
    <span (click)=" openResponsiveMenu()" class="responsive-navigation__close-btn close-btn">X</span>
    <ul class="responsive-navigation__list-container">

        <li class="responsive-navigation__list-container__list-element">
            <a class="responsive-navigation__list-container__list-element__link" href="#">
                Home
            </a>
        </li>
        <li class="responsive-navigation__list-container__list-element">
            <a class="responsive-navigation__list-container__list-element__link" href="#">
                Über mich
            </a>
        </li>
        <li class="responsive-navigation__list-container__list-element">
            <a class="responsive-navigation__list-container__list-element__link" href="#">
                Fähigkeiten
            </a>
        </li>
        <li class="responsive-navigation__list-container__list-element">
            <a class="responsive-navigation__list-container__list-element__link" href="#">
                Projekte
            </a>
        </li>
    </ul>
</div>